html, body {
    background-color: #F2F2F2;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    text-align: center;
}

input, select {
    font-size: 0.9em;
}

table {
    margin-top: -10px;
    margin-left: 7px;
}

h4 {
    color: #23A4FF;
    font-size: 1.1em;
    font-weight: normal;
    text-decoration: none;
}

a {
    color: #23A4FF;
}

.text {
    margin: 7px;
}

#container {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

#left-container, #right-container, #center-container {
    height: 600px;
    position: absolute;
    top: 0;
}

#left-container, #right-container {
    background-color: #fff;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ddd;
    color: #686c70;
    overflow: auto;
    text-align: left;
    width: 200px;
}

#left-container {
    background-image: url('col2.png');
    background-position: center right;
    border-left: 1px solid #ddd;
    left: 0;
}

#right-container {
    background-image: url('col1.png');
    background-position: center left;
    border-right: 1px solid #ddd;
    right: 0;
}

#right-container h4 {
    text-indent: 8px;
}

#center-container {
    background-color: #1a1a1a;
    color: #ccc;
    left: 200px;
    width: 600px;
}

#inner-details {
    font-size: 0.8em;
    list-style: none;
    margin: 7px;
}

#log {
    color: #23A4FF;
    font-size: 1.0em;
    font-weight: bold;
    position: absolute;
    top: 10px;
}

.tip {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: #555 2px 2px 8px;
    color: #111;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    opacity: 0.9;
    padding: 7px;
    width: 139px;
}
