html {
    font-size: 62.5%;
}
body {
    background-color: white;
    color: black;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
}

* { box-sizing: border-box; }

header {
    background: #eee
}
.logo {
    padding-left: 20px;
    -webkit-transform: scale(0.7885);
    margin-top: 12px;
}

.bttn-search {
    background: #3261c3;
    border: 1px solid #3b2eca;
    font-size: 1em;
    height: 40px;
    color: white;
    padding: 10px 20px;
    -webkit-font-smoothing: antialiased;
}
.query-wrapper {
    background: #fff;
    display: inline-block;
    padding: 7px;
    border: 1px solid #ceced6;
    width: 400px;
    font-size: 1.13em;
    height: 40px;
    position: relative;
    transition: border 0.25s linear;
}
.query-wrapper.active {
    border: 1px solid #7590f5!important;
    outline:none;
}
.query {
    border: 0;
    width: 100%;
    outline: none;
}
.open-advanced {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 12px;
    background: url(arrow_down.png);
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 0.25s linear;
}

.query-wrapper:hover {
    border: 1px solid rgb(147, 147, 148);
}
.open-advanced:hover {
    opacity: 1;
}

.advanced-search {
    background: #fff;
    width: 400px;
    color: grey;
    padding: 10px;
    border: 1px solid #ceced6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: absolute;
    top: 60px;
    display: none;
}
.advanced-search fieldset {
    border: none;
}
.advanced-search label {
    width: 50px;
    display: inline-block;
}
.advanced-search input {
    border: 1px solid #ceced6;
    width: calc(100% - 50px);
    height: 30px;
}
.advanced-search input:focus {
    border:1px solid #4d90fe!important;
    outline: none;
}
#div-main {
    /*display:none!important;*/
}

input[type=checkbox] {
    position: relative;
    top: 1px;
}

header {
    overflow: auto;
}

header .logo {
    float: left;
}

.entry {
    margin-top:8px;
}

.entry .time {
    -webkit-margin-end: 5px;
    color: #888;
    float: left;
    min-width: 56px;
    padding-top: 1px;
    white-space: nowrap;
}

.entry a {
    background-position: 0px 1px;
    background-repeat: no-repeat;
    background-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 500px;
    overflow: hidden;
    padding: 1px 0px 4px 22px;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.advanced-label {
    text-align: right;
}

.ui-widget {
    font-size: 0.9em;
}

.ui-dialog-content {
    overflow: hidden;
}

.ui-widget-overlay {
    opacity: 0.6;
}

.ui-widget-overlay .throbb {
    background-image: url(throbber-2.gif);
    height: 11px;
    margin: 0 auto;
    width: 43px;
}


#div-seperator {
    background-color: #EBEFF9;
    border-top: 1px solid #9CC2EF;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 12px;
    padding: 3px;
}

#throbber.active {
    background-image: url(throbber.gif);
    display: inline-block;
    height: 32px;
    width: 32px;
}

#results-summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#div-main {
    clear: both;
}

#frm-search {
    -webkit-margin-start: 12px;
    float: left;
    margin-top: 22px;
}

#frm-search input[type=submit] {
    background: -webkit-gradient(linear, center top, center bottom, from(#f8f8f8), to(#dadada));
    border: 1px #CCC solid;
    border-bottom-color: #999;
    border-right-color: #999;
    font-family: Arial, sans-serif;
    font-size: 15px;
    height: 29px;
    padding: 5px 8px 5px 8px;
}

#frm-search input[type=submit]:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#fbfbfb), to(#e0e0e0));
}

#frm-search input[type=submit]:active {
    background: -webkit-gradient(linear, center bottom, center top, from(#f0f0f0), to(#e8e8e8));
    color: #333;
}

#tbl-advanced {
    border-bottom: none;
    padding: 8px 6px 14px 10px;
    width: 100%;
}

#version-updated {
    background: #D5DDF3;
    display: none;
    left: 50%;
    position: absolute;
    top: 0px;
}

#btn-last {
    visibility: hidden;
}

#show-url {
    float: right;
    position: relative;
    top: -2px;
}

#pnl-edit {
    border: 1px solid #CCC;
    float: right;
    margin-right: 0px;
    margin-top: 5px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25%;
}

#pnl-edit div {
    margin: 0 auto;
    padding: 5px;
}

#pnl-edit div button {
    height: 20px;
    margin: 0px;
    width: 180px;
}

#pnl-edit span {
    color: #999;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    left: 0px;
    padding: 3px;
    position: absolute;
}

#dialog-confirm {
    display: none;
}

#dialog-confirm-icon {
    float: left;
    margin: 1px 7px 20px 0;
}
