html {
    font-size: 62.5%;
}
body {
    background-color: white;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 1.5rem;
    height: 100%;
    overflow: hidden;
}

* { box-sizing: border-box; }

header {
    background: #eee;
    padding: 22px 20px 0px 20px;
    height: 85px;
    overflow: hidden;
}

@media all and (max-width:764px) {
    .bttn.clear {
        display: none;
    }
}

.logo {
    -webkit-transform: scale(0.7885);
    margin-top: -10px;
}

.bttn {
    height: 40px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border: 1px solid;
    border-radius: 2px;
}
.bttn.search {
    background: #3261c3;
    border: 1px solid #3b2eca;
}
.bttn.clear {
    background: #d84938;
    border: 1px solid rgb(177, 61, 47);
    float: right;
    margin-right: 20px;
}

.query-wrapper {
    background: #fff;
    display: inline-block;
    padding: 7px;
    border: 1px solid #ceced6;
    width: 400px;
    font-size: 1.13em;
    height: 40px;
    position: relative;
    transition: border 0.25s linear;
}
.query-wrapper.active {
    border: 1px solid #7590f5!important;
    outline:none;
}
.query {
    border: 0;
    width: 100%;
    outline: none;
}

.open-advanced {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 12px;
    background: url(arrow_down.png);
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 0.25s linear;
}

.query-wrapper:hover {
    border: 1px solid rgb(147, 147, 148);
}
.open-advanced:hover {
    opacity: 1;
}

.advanced-search {
    background: #fff;
    width: 400px;
    color: grey;
    padding: 10px;
    border: 1px solid #ceced6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: absolute;
    top: 60px;
    display: none;
    z-index: 1;
}
.advanced-search fieldset {
    border: none;
}
.advanced-search label {
    width: 50px;
    display: inline-block;
}
.advanced-search input {
    border: 1px solid #ceced6;
    width: calc(100% - 50px);
    height: 30px;
}
.advanced-search input:focus {
    border:1px solid #4d90fe!important;
    outline: none;
}

@media all and (max-width: 620px) {
    .query-wrapper, .advanced-search {
        width: 250px;
    }
}

@media all and (max-width: 462px) {
    .query-wrapper, .advanced-search  {
        width: 180px;
    }
}

section.content {
    position: relative;
}

header .logo {
    float: left;
}

.top-bar {
    margin: 0;
    padding-right: 30px;
    height:45px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
    padding-left: 30px;
}

.top-bar > * {
    float:right;
}

#div-main {
    height: 500px;
    overflow-y: scroll;
    width: 100%;
    clear: both;
}

.page-buttons {
    width: 100px;
    height: 32px;
    float: right;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px;
    display: -webkit-flex;
}

.prev-page,.next-page {
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid #ceced6;
    background-color: #eee;
    cursor: pointer;
    transition: border 0.25s linear;
    padding: 0;
    position: relative;
    background: #fff;
}
.prev-page .img, .next-page .img {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.6;
    transition: opacity 0.25s linear;
}
.prev-page .img {
    background: url(prev.png);
}
.next-page .img {
    background: url(next.png)
}
.prev-page:hover .img, .next-page:hover .img {
    opacity: 1;
}
.prev-page:hover,.next-page:hover {
    border: 1px solid black;
}
.page-no {
    display: inline-block;
    height: 32px;
    width: 26px;
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

#tbl-main {
    width: 100%;
}
.hdr-day {
    width: 100%;
    height: 35px;
    border-bottom: 1px #e5e5e5 solid;
    background-color: rgb(248, 248, 248);
}
.hdr-day td {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}
.hdr-day .date {
    font-size: 1.2em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.hdr-day, .entry {
    cursor: pointer;
}

.entry td {
    padding-top:8px;
    padding-right: 10px;
}

.entry .time {
    -webkit-margin-end: 5px;
    color: #888;
    float: left;
    min-width: 56px;
    white-space: nowrap;
}

.entry {
    border-bottom: 1px #e5e5e5 solid;
}

.entry a {
    background-position: 0px 1px;
    background-repeat: no-repeat;
    background-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 500px;
    overflow: hidden;
    padding: 1px 0px 4px 22px;
    text-overflow: ellipsis;
    white-space:nowrap;
    color: rgb(48, 57, 66);
    text-decoration: none;
}

.entry a:hover {
    text-decoration: underline;
}

.bttn.delete {
    background: white;
    color: black;
    height: 32px;
    font-size: 0.9em;
    padding: 0 10px;
    margin-right: 5px;
    border: 1px solid #ceced6;
    transition: border 0.25s linear;
    margin-top: 5px;
    padding-bottom: 2px;
}

.bttn.delete:hover {
    border: 1px solid black;
}

.no-results td {
    padding: 50px;
}

#tbl-main input[type=checkbox] {
    margin-left: 10px;
}

#frm-search {
    -webkit-margin-start: 12px;
    float: left;
}

.feedback {
    position: fixed;
    bottom: 0;
    right: 30px;
    background: #eee;
    padding: 12px;
    border-radius: 4px;
}