#options-container{
	width :80%;
	border: 3px solid #D5DDF3;
	display: inline-block;
	display: none;
	float: left;
	padding: 10px 6px 0px 0px;
}
#left,#right,.divs  {
	float : left;
	width:50%;
}
.label {
	float:left;
	text-align:right!important;
	clear : both;
	width : 38%;
	font-family: arial, sans-serif;
	padding-right:8px;
}
.input{
	float:left;
	width:60%;
}
.input input{
	width:100%;
}
.divs{
	clear:both;
}
.gothere {
	float:right;
	white-space: nowrap;
}
.gothere > a{
	max-width:100px;
	max-height:15px;
	overflow:hidden;
	text-overflow: ellipsis;
	display:inline-block;
}

.entry .title > a {
max-width: 100%!important;
}
.title{
	float:left;
}
#results-display{
	max-width:80%!important;
}
#div-show-urls{
	float:left;

}
.edit-button{
	float:right!important;
}